@import "variables";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.select-wrapper {
  position: relative;
  display: block;
  margin: 0.5em 0;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 31px;
    background-image: url(../img/show-big.svg);
    background-repeat: no-repeat;
    background-position: center left;
  }
  &_mini{
    display: inline-block;
    margin: 0;
    &:after {
      width: 18px;
      background-image: url(../img/show.svg);
    }
    select {
      height: 30px;
      width: auto;
      padding: 0 22px;
      min-width: 142px;
      font-size: 12px;
    }
  }
  &_dot {
    &:before {
      content: '';
      position: absolute;
      top: 11px;
      left: 10px;
      width: 7px;
      height: 7px;
      background: #1E2843;
      border-radius: 50%;
    }
  }
  &_unit {
    display: inline-block;
  }
  &_user {
    display: inline-block;
    margin: 0;
    &:after {
      top: 1px;
      width: 18px;
      background-image: url(../img/show.svg);
    }
    select {
      height: 30px;
      width: auto;
      padding: 0 10px;
      min-width: 60px;
      font-size: 12px;
      border: none;
    }
  }
  &_number-format {
    min-width: 100px;
    max-width: 100px;
    margin: 0 10px 0 0;
    select {
      min-width: 100px;
      max-width: 100px;
    }
  }
}

.input {
  display: block;
  width: 100%;
  //min-width: 555px;
  max-width: 100%;
  margin: 8px 0;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #DEE0E5;
  font-size: 1rem;
  line-height: 1.1rem;
  transition: 0.25s;
  &_phone {
    margin: 0;
  }
  &_currency {
    margin: 0;
    padding-left: 60px;
  }
  //&_search:not(:focus) {
  //  background-image: url(../img/search.svg);
  //  background-repeat: no-repeat;
  //  background-size: 24px 24px;
  //  background-position: center right 16px;
  //}
}

.currency-block {
  position: relative;
  &:before {
    content: 'EUR';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    border-right: 1px solid #DEE0E5;
  }
}

.unit-input {
  display: flex;
  height: 42px;
  margin: 0;
}

.unit-input__select {
  height: 100%;
  min-width: 95px;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.unit-input__select-wrapper {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.unit-input__input {
  display: inline-block;
  text-align: center;
  width: 42px;
  height: 100%;
  margin: 0;
  padding: 3px;
  border-radius: 4px 0 0 4px;
  border-right: 0px;
}

.search-line {
  position: relative;
  height: 42px;
  .input {
    height: 100%;
    margin: 0;
    padding-right: 45px;
  }
}

.search-line__btn {
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/search.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search-line__error-text {
  display: none;
  height: 0;
  margin: 0;
  opacity: 0;
  transition: 0.25s;
}

.search-line_error {
  transition: 0.25s;
  .input_search {
    background: #FFD8DF;
    border-color: $err;
  }
  + .search-line__error-text {
    display: block;
    height: auto;
    opacity: 1;
  }
}

textarea {
  width: 100%;
  min-height: 123px;
  padding: 12px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  resize:none;
  line-height: 1.3;
}

select {
  position:relative;
  z-index: 2;
  display:flex;
  height: 40px;
  width: 100%;
  min-width: 380px;
  padding-left: 12px;
  padding-right: 40px;
  border-radius: 4px;
  align-items:center;
  border: 1px solid #DEE0E5;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:transparent;
}

.select-custom {
  position:relative;
  z-index: 2;
  display:flex;
  width: 100%;
  min-width: 380px;
  padding: 13px;
  border-radius: 4px;
  align-items:center;
  border: 1px solid #DEE0E5;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:transparent;
}
.select-custom__item {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px;
  border: 1px solid #D9D9D9;
  background: #F9F9F9;
  border-radius: 3px;
  &:after {
    width: 9px;
    height: 9px;
    margin: 0 0 -3px 15px;
    background-image: url(../img/close.svg);
    background-position: center center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
    content: '';
  }
}

.option {
  display: block;
  margin: 0.555rem 0;
}

.option-group {
  margin: 1rem 0;
  &_phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0;
  }
}

.option-title {
  margin: 0.555rem 0;
  font-weight: 700;
  &_text_regular {
    font-weight: 500;
  }
}

.check {
  position: relative;
  padding-left: 30px;
  &_single {
    width: 20px;
    height: 20px;
  }
  &_toggler {
    padding-left: 43px;
  }
}

.check__input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow:hidden;
}

.check__box {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #999999;
  transition: 0.25s;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    background: #999;
    opacity: 0;
    transition: 0.25s ;
  }
  &_circle {
    border-radius: 50%;
    &:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      right: 4px;
      border-radius: 50%;
    }
  }
  &_acc {
    border: 1px solid $acc;
    &:after {
      background: $acc;
    }
  }
  &_toggler {
    width: 35px;
    height: 20px;
    border-radius: 20px;
    background-color: #B9B9B9;
    border: none;
    &:after {
      position: absolute;
      left: 4px;
      top: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 1;
    }
  }
}

.check__input:checked ~ .check__box {
  border-color: $acc;
  &:after {
    opacity: 1;
    background-color: transparent;
    background-image: url("../img/checkbox-selected.svg");
    background-position: center;
  }
  &_circle {
    &:after {
      border-radius: 50%;
      background-image: none;
      background-color: $acc;
    }
  }
  &_toggler {
    background-color: #62be11;
    &:after {
      left: auto;
      right: 4px;
      background: #fff;
    }
  }
}

.check__prompt {
  display: block;
  height: auto;
  margin-top: 6px;
  font-size: 12px;
  line-height: 1em;
  opacity: 1;
  transition: 0.25s;
}

.check__if-not-checked {
  display: block;
  height: auto;
  margin-top: 6px;
  font-size: 12px;
  line-height: 1em;
  opacity: 1;
  transition: 0.25s;
  &_ok {
    position: relative;
    padding-left: 15px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 8px;
      height: 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/ok-black.svg);
      background-size:cover;
    }
  }
}

.check__input:checked ~ .check__if-not-checked {
  opacity: 0;
  height: 0;
  margin: 0;
}

.check__if-checked {
  display: block;
  height: 0;
  padding-left: 15px;
  margin: 0;
  font-size: 12px;
  line-height: 1em;
  opacity: 0;
  transition: 0.25s;
  &_ok {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 8px;
      height: 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/ok-black.svg);
      background-size:cover;
    }
  }
}

.check__input:checked ~ .check__if-checked {
  height: auto;
  margin-top: 6px;
  opacity: 1;
}