.finance-enter{
    width: 718px;
    margin-top: 15px;
}

.error-text{
    padding-top: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #D80027;
}

.error-enter{
    background: #FFE2E3;
    border: 1px solid #D80007;
}