.external-link{
    position: relative;
    color: $orange;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -30px;
        width: 18px;
        height: 18px;
        background-image: url(assets/img/external-link.svg);
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.basic__details-content{
    margin-top: 45px;
}

.finance-select{
    margin-top: 15px;
    width: 718px;
}

.select-gray{
    background: #F0F0F0;
}

.payout-method{
    margin-top: 45px;
    display: block;
    align-items: center;
    &:not(:last-child){
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 33px;
    }
    img{
        padding-right: 25px;
    }
}

.payout-method-row1{
    display: flex;
    align-items: center;
}

.bank-payout-method-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 115px;
}