@import "variables";

.languages-list__item {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
  border-bottom: 1px solid #ECECEC;
  &_main {
    align-items: flex-end;
    padding-bottom: 19px;
    color: #888A93;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.languages-list__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 152px;
}