@import "variables";

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 50%;
  &_address {
    width: 70%;
  }
  &_address-controls {
    display: flex;
    justify-content: space-between;
    width: calc(30% - 50px);
  }
}

.col__x {
  height: 100%;
  width: 24px;
  background-image: url(assets/img/x.svg);
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.row_price-table {
  .col {
    width: calc(50% - 9px);
  }
}